@font-face{
    font-family: montserrat-reg;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face{
    
    font-family: coco;
    src: url(../font/CocoGothic_trial.ttf);
}

@font-face{
    font-family: code;
    src: url(../font/CODE-Bold.otf);
}

a, a:hover{
    text-decoration: none !important;
}

hr{
    border-color: #b33939 !important;
    position: relative;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


#navbar{
    padding: 20px 20px;
    transition: 0.5s !important;
    background: transparent; position: fixed; z-index: 99; width: 100%;
}

.title-banner{
    width: 50%;
    color: #fff;
    position: relative;
    left: 350px;
    top: -400px;
    z-index: 95;
    font-size: 30px;
    text-align: center;
    font-family: 'montserrat-reg';
}

@media screen and (max-width:640px){
    .title-banner{
        left: 220px;
        top: -300px;
        font-size: 20px;
    }

    nav img{
        width: 100px;
    }

    #navbar{
        background-color: #333 !important;
        padding: 0px;
    }

    .navbar-toggler-icon{
        width: 20px !important;
    }
}


/* nav */
.nav-item a{
    color: #fff !important;
}

.dropdown-menu a{
    color: #fff !important;
}

.dropdown-menu a:hover{
    background: #fff !important;
    color: #333 !important;
    transition: 0.5s !important;
}

.dropdown-menu{
    background-color: #333333 !important;
}

/* profile */
.profile{
    margin-left: 5%;
    width: 90%;
    height: 540px;
    overflow: hidden;
    background-color: #fff;
}

.profile-image{
    width: 50%;
    height: inherit;
    float: left;
}

.profile1{
    width: 80%;
    position: relative;
    z-index: 1;
    float: left;
}

.profile2{
    width: 30%;
    position: relative;
    left: 450px;
    top: -240px;
    z-index: 3;
}

.profile-box{
    color: rgb(73, 73, 73);
    width: 45%;
    text-align: center;
    float: left;
    margin-left: 5%;
    margin-top: 130px;
}

.kotak{
    z-index: -1;
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #b33939;
    top: -63px;
    right: 60px;
    float: right;
}


@media screen and (max-width:640px){
    .profile-box{
        margin-top: 0px;
        width: 100%;
        clear: both;
    }

    .profile-image{
        clear: both;
        width: 100%;
    }

    .profile2{
        width: 30%;
        position: relative;
        top: -150px;
        z-index: 3;
    }

    .kotak{
        right: 38px;
    }
}

/* history */
.history-wrapper{
    width: 100%;
    height: 900px;
    /* background-color: red; */
}
.history-picture-wrap{
    width: 700px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

.history-tag{
    width: 35% !important;
    height: 50px;
    background-color: #000;
    opacity: 80%;
    z-index: 99;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    position: relative;
    margin-top: -25%;
}

.history-picture{
    width: 33%;
    margin-right: -5px;
    z-index: -9;
}

.history-text-wrap{
    width: 800px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;; */
    color: #737373;
    /* background-color: blue; */
}
.history-text-wrap>hr{
    width: 70%;
    border-color: #333 !important;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
  }
  

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* teams */
.team{
    width: 100%;
    height: 400px;
    background: url('../img/team/team.jpg') no-repeat;
    margin-top: 100px;
    overflow: hidden;
    color: #fff;
    font-family: 'coco';
}

.team span{
    position: relative;
    top: 80px;
    left: 100px;
}

.team p{
    width: 50%;
    position: relative;
    top: 20%;
    left: 7%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* product */
.product{
    width: 100%;
    height: 700px;
    background-color: #b33939;
}

.product-content{
    width: 50%;
    height: 350px;
    background-color: aliceblue;
    float: left;
    overflow: hidden;
}

.product-content img{
    width: 150%;
}

.product-overlay{
    width: 30%;
    height: 50px;
    background-color: rgba(179, 57, 57, 0.6);
    z-index: 1;
    position: relative;
    top: -180px;
    padding: 10px 20px;
    color: #fff;
    font-size: 25px;
}

.product-content a{
    height: 350px;
}

@media screen and (max-width:640px){
    .product-content{
        width: 100%;
    }

    .product-content img{
        width: 100%;
    }

    .product-overlay{
        top: -125px;
    }
}

/* reference */
.reference{
    width: 100%;
    height: 500px;
}

.reference-boximage{
    padding: 5%;
    width: 100%;
    height: 500px;
}

.reference-title{
    width: 100%;
    height: 200px;
    text-align: center;
    font-family: 'coco';
}

.reference-title span{
    position: relative;
    top: 40%;
}

.boximage-image{
    width: 200px;
    height: 200px;
    float: left;
    overflow: hidden;
}

.boximage-image img{
    width: 100%;
    height: 100%;
}

.reference-overlay{
    position: relative;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(179, 57, 57, 0.8);
    color: #fff;
}

.boximage-image a:hover .reference-overlay{
    opacity: 1;
}

.boximage-text {
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.reference-readmore{
    width: 200px;
    height: 200px;
    background-color: #b33939;
    float: left;
    text-align: center;
}

.more-reference{
    width: 200px;
    height: 200px;
    position: relative;
    top: 25%;
    color: #fff;
    font-size: 50px;
    transition: 0.5s;
}

.more-reference:hover{
    color: #fff;
}

@media screen and (max-width:640px){
    .reference{
        overflow: visible;
    }

    .reference-title, .reference-boximage{
        clear: both;
        width: 100%;
    }
}

/* footer */
.footer{
    width: 100%;
    height: 400px;
    padding: 5%;
    background: url('../img/banner/footer.jpg');
    background-size: cover;
    overflow: hidden;
}

.footer-maps{
    width: 30%;
    height: 300px;
    background-color: #fff;
    float: right;
}

.footer-title{
    width: 65%;
    height: 300px;
    float: left;
    text-align: center;
    color: #fff;
    font-family: 'coco';
}

.footer-cont{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    position: relative;
    top: 10%;
    left: 5%;
    margin: 20px;
}

.footer-icon{
    position: relative;
    left: 40%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 10px;
    background-color: #fff;
    color: #333;
}

.copyright{
    width: 100%;
    padding: 5px 100px;
    background-color: rgb(26, 26, 26);
    color: rgb(138, 138, 138);
    font-size: 12px;
}

/* video */
.video{
    margin-top: 300px;
    width: 80%;
    height: 500px;
    position: relative;
    left: 10%;
}

.video-title{
    position: relative;margin-top: 10%;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'coco';
    
    margin-bottom: 100px;
}

.video-box{
    margin: 5%;
    width: 40%;
    height: 450px;
    border: 1px solid #c0c0c0;
    float: left;
}

.video-cap{
    width: 80%;
    position: relative;
    left: 10%;
    top: 5%;
    margin: 15px 0px;
    color: rgb(109, 109, 109);
}

/* News */
.news-wrapper{
    margin-top: 100px;
    width: 100%;
    height: 550px;
    /* background: red; */
}

.news-titleTop{
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: 'coco';
}

.news-content{
    margin-top: 100px;
    width: 1200px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue;   */
}

.news-content>p{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    /* margin-left: 30px; */
    text-align: center;
}

.news-content>hr{
    border: 1.5px solid coral;
    width: 90px;
    margin-top: -20px;
}

.news-image{
    width: 500px !important;
    height: 400px;
    float: left;
    margin-left: 65px;
    margin-bottom: 50px;
    /* background: #000; */
}

.image-news{
    width: 100%;
    height: 300px;
}

.news-date{
    width: 100px;
    height: 100px;
    background-color: #000;
    text-align: center;
    padding-top: 20px;
    color: #fff;
     font-size: 1em; 
    font-weight: 500;
    float: left;
    /* opacity: 80%; */
}

.news-date>p{
    font-size: 1.5em;
    margin-bottom: -3px;
}

.news-title{
    width: 390px;
    height: 100px;
    color: #333;
    font-size: 18px;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    margin-left: 10px;
    padding-top: 8px;
    float: right;
    position: relative;
  
}
.news-title>h5 {
    margin-top: -6px;
    font-size: 14px;
}

.news-title>a {
    text-decoration: none;
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }