@font-face{
    font-family: montserrat-reg;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face{
    
    font-family: coco;
    src: url(../font/CocoGothic_trial.ttf);
}

@font-face{
    font-family: code;
    src: url(../font/CODE-Bold.otf);
}

@-ms-viewport{
    width: device-width;
}

a, a:hover{
    text-decoration: none !important;
}

hr{
    border-color: #b33939 !important;
    position: relative;
}

html{
    scroll-behavior: smooth;
}

*{ 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body{
    margin: 0px;
    padding: 0px;
}


#navbar{
    padding: 20px 20px;
    transition: 0.5s !important;
    background: transparent; position: fixed; z-index: 99; width: 100%;
}

.title-banner{
    width: 50%;
    color: #fff;
    position: relative;
    left: 350px;
    top: -400px;
    z-index: 95;
    font-size: 30px;
    text-align: center;
    font-family: 'montserrat-reg';
}

/* nav */
.nav-item a{
    color: #fff !important;
}

.dropdown-menu a{
    color: #fff !important;
}

.dropdown-menu a:hover{
    background: #fff !important;
    color: #333 !important;
    transition: 0.5s !important;
}

.dropdown-menu{
    background-color: #333333 !important;
}

/* profile */
.profile{
    width: 100%;
    height: 500px;
    background: url('../img/profile/banner.jpg') no-repeat center;
}

.profile-box{
    color: rgb(73, 73, 73);
    width: 45%;
    text-align: center;
    float: right;
    margin-top: 130px;
    margin-right: 7%;
    color: #fff;
}

/* visimisi */
/*misi*/
.misi{
    width: 100%;
    height: 300px;
    margin-top: 100px;
    color: #000;
    padding: 30px 0 0 25px;
    position: relative;
    background: #fff;
   }
  
   .visi {
    width: 780px;
    height: 280px;
    /*background: #000;*/
    position: relative;
    margin-top: -1.5%;
    text-align: center;
    left: 25%;
   }
  
   .visi_text {
    width: 235px;
    height: 230px;
    margin-top: 2%;
    font-size: 24px;
    color: #999;
    /*background: blue;*/
   }
  
   .visi_text h4 {
    font-size: 21px;
    margin-bottom: 5%;
   }
  
   .next{
    width: 110px;
    height: 50px;
    /*background: red;*/
    margin-top: 48px;
    float: right;
   }
  
   .about_single {
    width: 300px;
    height: 100%;
    float: left;
    margin-right: 9%;
    /*background: red;*/
   }
  
   .icon_holder {
    width: 55px;
    height: 40px;
    /*background: #000;*/
    position: relative;
    left: 26%;
   }

   .icon-fav{
       font-size: 60px;
       color: #b33939;
   }
  

/* history */
.history-wrapper{
    width: 100%;
    display: block;
    /* background-color: red; */
}
.history-picture-wrap{
    width: 900px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
}

.history-tag{
    width: 35% !important;
    height: 50px;
    background-color: #000;
    opacity: 80%;
    z-index: 99;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    position: relative;
    margin-top: -25%;
    left: 29.5%;
}

.history-picture{
    width: 30%;
    margin: 5px;
    z-index: -9;
}

.history-text-wrap{
    width: 800px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;; */
    color: #737373;
    /* background-color: red; */
}
.history-text-wrap>hr{
    border: 1.5px solid coral;
    width: 300px;
    position: relative;
    z-index: 9;
    transform: rotate(-90deg);
    border-color: rgb(146, 146, 146) !important;
    float: left; 
    top: -170%;
    left: 30%;
}

.history-list{
    width: 350px ;
    display: block;

    /* height: 250px; */
    /* background: blue;  */
    float: left;
    margin-left: 30px;
}

.history-list>h1 {
    font-weight: bold;
}
.history-list>li {
    margin-left: 30px;
}

/* teams */
.team{
    width: 100%;
    height: 400px;
    background: url('../img/team/team.jpg') no-repeat;
    margin-top: 100px;
    overflow: hidden;
    color: #fff;
    font-family: 'coco';
}

.team span{
    position: relative;
    top: 80px;
    left: 100px;
}

.team p{
    width: 50%;
    position: relative;
    top: 20%;
    left: 7%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* product */
.product{
    width: 100%;
    display: inline-block;
    background-color: #181818;
    color: #fff !important;
    text-align: center;
    padding-top: 50px;
}

.product hr{
    width: 10%;
    border-color: #fff !important;
}

.product-content{
    width: 33.3%;
    height: 350px;
    /* background-color: aliceblue; */
    float: left;
    overflow: hidden;
}

.product-content img{
    width: fit-content;
}

.product-overlay{
    display: inline;
    height: 50px;
    background-color: rgba(179, 57, 57, 0.6);
    z-index: 1;
    position: relative;
    top: -40px;
    padding: 10px 20px;
    color: #fff;
    font-size: 25px;
}

.product-content a{
    width: 100%;
    height: 350px;
    text-align: left;
}


/* reference */
.banner-reference{
    width: 100%;
    height: 500px;
    background: url('../img/reference/banner.jpg') no-repeat;
    background-size: cover;
}

.reference{
    width: 100%;
    height: 500px;
}

.reference-boximage{
    padding: 11%;
    width: 100%;
    display: inline-block;
}

.reference-title{
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: 'coco';
    position: relative;
    top: 40%;
    color: #fff;
}

.reference-title span{
    position: relative;
    top: 40%;
}

.boximage-image{
    width: 200px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin: 5px;
    position: relative;
}

.boximage-image img{
    width: 100%;
    height: 100%;
}
.reference-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 1);
    color: #fff;
}

.text-text{
    color: #333 !important;
    text-transform: uppercase;
}

.boximage-image a:hover .reference-overlay, .boximage-image a:hover .reference-overlayimg,
.boximage-image a:hover .reference-overlayimg2, .boximage-image a:hover .reference-overlayimg3{
    opacity: 1;
    bottom: 0;
}

.boximage-text {
    width: 70%;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    clear: both;
}

.boximage-text img{
    width: 90%;
}

.line-overlay{
    position: relative;
    top: 0;
    left: 0;
    float: right;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition: 1s;
}

.line-overlay2{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition: 1s;
}


/* footer */
.banner-footer{
    width: 100%;
    height: 300px;
    background: url('../img/banner/footer2.jpg') center no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-family: 'coco';
}

.footer{
    width: 100%;
    height: 400px;
    padding: 5%;
    background: url('../img/banner/footer.jpg');
    background-size: cover;
    overflow: hidden;
}

.footer-box{
    height: 300px;
    float: right;
    margin-left: 20px;
    color: rgb(175, 175, 175);
}

.footer-box li{
    list-style: none;
    margin: 10px 0px;
}

.footer-box li a{
    color: rgb(175, 175, 175);
}

.footer-box table tr td{
    padding: 5px 10px;
}

.ribbon-contact{
    width: 200px;
    height: 500px;
    z-index: 9;
    position: relative;
    top: 0;
    background-color: rgba(58, 58, 58, 0.7);
    color: #fff;
}

.copyright{
    width: 100%;
    padding: 5px 100px;
    background-color: rgb(26, 26, 26);
    color: rgb(138, 138, 138);
    font-size: 12px;
}

#box-maps{
    width: 40%;
}

#box-contact{
    width: 45%;
}

/* video */
.video{
    margin-top: 100px;
    width: 80%;
    height: 1800px;
    position: relative;
    left: 10%;
}

.video-title{
    position: relative;margin-top: 10%;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'coco';
    
    margin-bottom: 100px;
}

.video-box{
    margin: 5%;
    width: 40%;
    height: 450px;
    border: 1px solid #c0c0c0;
    float: left;
}

.video-cap{
    width: 80%;
    position: relative;
    left: 10%;
    top: 5%;
    margin: 15px 0px;
    color: rgb(109, 109, 109);
}

/* News */
.banner-news{
    width: 100%;
    height: 500px;
    background: url('../img/gallery/banner.jpg');
}

.news-wrapper{
    margin-top: 100px;
    width: 100%;
    padding: 5% 9%;
    display: inline-block;
    /* background: red; */
}

.news-titleTop{
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: 'coco';
    
    position: relative;
    top: 40%;
    color: #fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
    float: left;
    width: 250px;
	height: 250px;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	/* display: block; */
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}



  /* montair */
.banner-product{
    width: 100%;
    height: 500px;
    text-transform: capitalize;
}

#montair-product{
    background: url('../img/banner/bannerbaru.jpg') no-repeat;
    background-size: cover;
}

.product-wrapper{
    width: 1200px !important;
    display: inline-block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.product-body{
    position: relative;
    left: 7%;
    width: 100%;
    height: inherit;
    /* background-color: cadetblue; */
}

.product-desc{
    /* background-color: chocolate; */
    width: 70%;
    display: inline-block;
    /* height: 100px; */
    margin-top: 100px;
    margin-left: 15%;
    color: rgb(90, 90, 90);
}

.montair-hr{
    width: 100px;
    top: 30px;
    transform: rotate(90deg);
    position: relative;
    float: left;
}

.product-desc p{
    width: 60%;
    float: left;
    text-align: justify;
}

.product-desc img, .montair-desc hr{
    float: left;
}

.product-advantage{
    /* background-color: coral; */
    width: 100%;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    clear: both;
    font-size: 15px;
    color: #333 !important;
}

.product-advantage-desc{
    position: relative;
    left: 7%;
    width: 35%;
    float: left;
    margin: 0% 5% 5% 5%;
    color: rgb(90, 90, 90);
    display: block;
    /* border: 1px solid black; */
}


.product-advantage-desc p, .product-advantage-desc li{
    text-align: justify;
    margin-top: 10px;
    text-transform: none;
}

#montair-adv-bot{
    left: -15%;
}

.montair-desc-logo{
    position: relative;
    width: 100%;
    /* background-color: brown; */
}

.montair-certificate{
    clear: both;
    width: 100%;
    height: 300px;
    /* background-color: #b33939; */
    margin: 50px 0px 50px 0px;
    text-align: center;
}

.montair-certificate-logo{
    float: left;
    /* background-color: #f4511e; */
    width: 120px;
    height: 120px;
    margin: 30px 50px 30px 50px;
    position: relative;
    left: 23%;
}

.montair-certificate-logo img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.5s;
}

.montair-certificate-logo:hover img{
    filter: grayscale(0%);
}


/* firepro */
#firepro-product{
    background: url("../img/banner/bannerbaru2.jpg") no-repeat;
    background-size: cover;
}

.firepro-desc{
    position: relative;
    left: 70px;
    width: 300px !important;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    /* background-color: aqua; */
}

.firepro-certificate-logo{
    float: left;
    /* background-color: #fff; */
    width: 100px;
    height: 130px;
    overflow: hidden;
    margin: 10px;
}

.firepro-certificate-logo:hover img{
    filter: grayscale(0%);
}

.firepro-certificate-logo img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.5s;
}

.firepro-certificate{
    width: 100%;
    display: inline-block;
    /* background-color: #b33939; */
    margin: 50px 0px 50px 0px;
    text-align: center;
    position: relative;
}

#firepro-adv{
    left: 30%;
    height: auto;
}

.firepro-leaf{
    width: 100%;
    height: 300px;
    background: url(../img/firepro/banner-leaf.jpg);
}

.firepro-leaf-wrapper{
    position: relative;
    left: 13%;
    /* background-color: #f4511e; */
    width: 1000px;
    height: inherit;
}

.leaf-circle{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid #fff;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin-top: 5%;
    padding: 10px;
    margin-left: 15%;
}

.firepro-leaf-wrapper p{
    float: left;
    width: 500px;
    color: #fff !important;
    text-align: justify;
    margin-top: 4%;
    margin-left: 5%;
}

.fpc{
    width: 500px;
    margin-left: 20%;
}


.firepro-hover{
    opacity: 0;
    position: relative;
    top: -100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}

.product-content:hover .firepro-hover{
    opacity: 1;
}

.fireproins-text{
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: center !important;
    color: #fff !important;
    text-transform: uppercase;
}

.product-content:hover .line-overlay, .product-content:hover .line-overlay2{
    width: 100%;
}

.firepro-unit{
    width: 100%;
    text-align: center;
    display: inline-block;
    /* background-color: #151515; */
    color: #333 !important;
    padding-top: 50px;
    margin-bottom: 100px;
}

.firepro-unit-img{
    width: 25%;
    height: 200px;
    float: left;
    overflow: hidden;
    position: relative;
    /* border: 1px solid #fff; */
    background-color: #fff;
}

.firepro-unit-img img{
    position: absolute;
    right: 0;
    width: 100%;
    /* height: 100%; */
}

.firepro-unit-title{
    position: absolute;
    left: 0;
    width: 40%;
    margin-left: 2%;
    height: 100%;
    color: #fff !important;
    text-align: left;
    font-size: 15px;
}

.firepro-unit-title>h2{
    /* text-decoration: underline; */
    position: relative;
    top: 50%;
    left: 15%;
}

.firepro-unit>hr{
    width: 10%;
    border-color: #fff !important;
}

.firepro-unit-overlay {
    position: absolute;
    bottom: 0;
    left: -100%;
    right: 0;
    background-color: rgba(14, 14, 14, 0.9);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
}

.firepro-unit-img:hover .firepro-unit-overlay {
    /* width: 100%; */
    left: 0;
    opacity: 1;
}

.firepro-unit-img a{
    color: white !important;
}

.firepro-unit-overlay-text {
    text-align: left;
    font-size: 15px !important;
    white-space: nowrap; 
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.firepro-unit-button{
    background-color: #b33939;
    color: #333333 !important;
    float: right;
    margin-top: 30px;
    padding: 5px 10px;
}

.firepro-details-wrapper{
    width: 100%;
    margin: 0px;
    /* display: inline-block; */
    overflow: hidden;
}

.firepro-details-body{
    width: 1366px;
    background-color: gray;
    display: inline-block;
    margin: 0px;
}

.firepro-details-title{
    width: 100%;
    padding: 30px 0px;
    text-align: center;
    background-color: #b33939;
    color: #fff;
    position: relative;
    margin-top: 150px;
}

.firepro-details-body>table{
    margin-top: 100px;
    color: #fff;
    width: 60%;
    position: relative;
    left: 20%;
    margin-bottom: 100px;
}

.firepro-details-body>table td{
    padding: 5px 10px;
    text-transform: uppercase;
}

.firepro-details-body>table h1{
    font-size: 60px;
}

.firepro-back-details{
    background-color: #b33939;
    color: #fff !important;
    padding: 10px 10px;
}

/* telefire */
#telefire-product{
    background: url(../img/banner/banner5.jpg) no-repeat;
    background-size: cover;
}

.telefire-desc{
    width: 100%;
    display: inline-block;
    background: url(../img/telefire/banner-des.jpg) no-repeat;
    background-size: cover;
    margin-top: -50px;
    padding: 3% 0px;
}

.tlf{
    width: 500px;
    margin-left: 35%;
}

.telefire-desc p{
    text-align: justify;
    font-size: 15px;
    color: #333;
    width: 40%;
    float: left;
    margin-top: 5%;
    margin-right: 3%;
}

.card{
    float: left;
    box-sizing: border-box;
    margin: 2%;
    width: 350px;
    transition: all .3s .15s;
    /* transition: 0.5s; */
    box-shadow: 0 15px 40px 0 rgba(166,173,201,.2),0 5px 10px 0 rgba(154,160,185,.05);
}

.card:hover{
    transition: all .3s 0s;
    transform: translateY(5px);
    box-shadow: 0 3px 20px -8px rgba(166,173,201,.5),0 1px 5px 0 rgba(154,160,185,.15),0 1px 5px -3px rgba(154,160,185,.6);
}

.card-body hr{
    border-color: #333 !important;
}

.product-advantage-desc img{
    width: 60px;
    float: left;
    margin-right: 10px;
}

.adr-wrapper{
    width: 100%;
    display: inline-block;
    background: url(../img/telefire/banner-3000.jpg) no-repeat;
    background-size: cover;
    /* background-color: #b33939; */
    color: #fff;
    text-align: center;
    padding: 3% 0%;
    margin-bottom: 100px;
}

.adr-wrapper hr{
    border-color: #fff !important;
    width: 10%;
}

.adr{
    width: 50%;
    display: block;
    /* height: 300px; */
    float: left;
    /* background-color: antiquewhite; */
}

.adr img{
    width: 60%;
}

.adr table{
    width: 90%;
    text-align: left;
}

.adr table td{
    padding: 5px 10px;
}

.banner-contact{
    width: 100%;
    height: 500px;
    background: url('../img/banner/contact.jpg') no-repeat;
    background-size: cover;
}

.contact-title{
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: 'coco';
    position: relative;
    top: 40%;
    color: #fff;
}

.contact-title span{
    position: relative;
    top: 40%;
}

.maps{
    width: 60%;
    height: 100%;
    position: fixed;
    /* padding-top: 88px; */
    left: 0;
}

.contact-form{
    position: absolute;
    width: 40%;
    display: block;
    right: 0;
    padding: 130px 20px 20px 20px;
    color: #fff;
    background: url('../img/banner/footer-right.jpg');
    background-size: cover;
    /* background-color: khaki; */
}

.contact-form>hr{
    width: 90%;
    border-color: #fff !important;
}

.form{
    display: inline-block;
    text-align: left;
}

.form-text{
    width: 48%;
    border: 0;
    padding: 5px 10px;
    border-radius: 2px;
    float: left;
    margin: 5px;
    color: #333;
}

.form-mail{
    width: 100%;
    border: 0;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 5px;
    color: #333;
}

.form-message{
    width: 100%;
    border: 0;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 5px;
    color: #333;
    /* position: absolute */
}

.button-form{
    display: inline-block;
    position: relative;
    width: 35%;
    overflow: hidden;
    float: right
}

/* button-submit */
@import url('https://fonts.googleapis.com/css?family=Roboto:400');

* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline:none;
}

#button-wrapper {
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  text-transform:uppercase;
  letter-spacing:3px;
  color:white;
  width:100%;
  height: 140px;
  position: absolute;
  top: calc(50% - 70px);
  left: 0;
  padding:20px 0px;
  overflow: visible;
}

.submit, .loader, .loader-wrapper{
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
}

.submit {
  z-index:2;
  width:125px;
  height:45px;
  background: linear-gradient(to right, #ffb369 0%,#ff4272 100%); 
  display:block;
  border-radius:200px;
  text-align:center;
  color:rgba(255,255,255,1);
  text-decoration:none;
  line-height:340%;
  transition: all 0.7s ease, line-height 0s ease, color 0.4s ease, filter 0.2s ease;
}

#button-wrapper::selection, .submit::selection {
  background: transparent;
}

.submit:before {
  content:"";
  z-index:-2;
  width:100%;
  height:100%;
  background: linear-gradient(to right, #ffb369 0%,#ff4272 100%); 
  display:block;
  border-radius:200px;
  position:absolute;
  left:0;
  top:-10px;
  opacity:0.8;
  transform:scale(0.9) translateY(15px);
  filter:blur(20px);
  transition:all 0.2s ease;
}

.submit:after {
  content:"";
  z-index:-4;
  width:100%;
  height:100%;
  background: linear-gradient(to right, #ffb369 0%,#ff4272 100%); 
  display:block;
  border-radius:200px;
  position:absolute;
  left:0;
  top:0;
  opacity:0;
  transform:scale(1);
}

.submit:hover:before {
  transform:scale(0.9) translateY(5px);
  filter:blur(15px);
}

.submit:active {
  line-height:460%;
  filter:brightness(0.95);
  transition:all 0s;
}

.checked .submit:before {
  top:0px;
  opacity:0;
}

.checked .submit:after {
    animation: submit-after-anim 0.5s 4.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.checked {
   -webkit-filter: url("#goo");
   filter: url("#goo");
}

.yellow {
  background-color: #ffb369;
}

.pink {
  background-color: #ff4272;
  }

.orange {
  background-color: #ff7b6e;
  transform:scale(0.2) rotate(30deg) translate(0px);
}

.checked .pink {
  animation: loader-anim-pink 4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checked .yellow  {
  animation: loader-anim-yellow 4s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checked .orange {
   animation: loader-anim-orange 4s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loader {
  width:45px;
  height:45px;
  border-radius:50%;
  opacity:0;
  z-index:1;
}

.checked .loader {
  opacity:1;
}

.checked .loader-wrapper {
  animation: wrapper-loader-anim 4.2s linear;
  width:45px;
  height:45px;
  transform:scale(0)
}

.checked .submit {
  width:45px;
  color:rgba(255,255,255,0);
  background: linear-gradient(to right, #ff7b6e 0%,#ff7b6e 100%);
  animation: submit-anim 4s  cubic-bezier(0.39, 0.575, 0.565, 1);
  }


.check-wrapper {
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  width:45px;
  height:45px;
  z-index:-1;
  opacity:1;
}

.check-wrapper svg {
  margin-top: 17px;
  margin-left: 0px;
}

.check{fill:none;
  stroke:#ffffff;
  stroke-width:10;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
 stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  z-index:-1;
  }

.checked .check-wrapper {
  z-index:3;
}

.checked .check {
  animation: check 4s 4.4s ease forwards;
}


@keyframes loader-anim-pink {
    0% {transform:scale(0.2) rotate(0deg) translate(170px, 0px); }
  100% {transform:scale(0.2) rotate(1100deg) translate(180px, 0px);}
}

@keyframes loader-anim-yellow {
     0% {transform:scale(0.2) rotate(0deg) translate(180px, 0px); }
  100% {transform:scale(0.2) rotate(1100deg) translate(170px, 0px);}
}

@keyframes loader-anim-orange {
  0%,70% {transform:scale(0.2) rotate(30deg) translate(0px); }
  85% {transform:scale(0.2) rotate(30deg) translate(-300px);}
  100% {transform:scale(0.2) rotate(30deg) translate(0px); }
}

@keyframes wrapper-loader-anim {
    0% {transform:scale(0) translateY(0px) }
    10% {transform:scale(1) translateY(20px)}
  50% {transform:scale(1.2) translateY(10px) }
  90% {transform:scale(1) translateY(-10px)}
  100% {transform:scale(0) translateY(0px)}
}

@keyframes submit-after-anim {
  0% {transform:scale(1); opacity:0.3 }
   100% {transform:scale(2); opacity:0 }
}

@keyframes submit-anim {
    0% {transform:scale(1) }
      5%, 95% {transform:scale(0.7) }
  100% {transform:scale(1)}
}

@keyframes check {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* denco */
#denco{
    background: url(../img/banner/banner3.jpg) no-repeat;
    background-size: cover;
}

.denco-trange{
    padding: 20px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    width: 100%;
    display: inline-block;
    background-color: #4080aa;
    margin-bottom: 50px;
}

.denco-content{
    width: 100%; display: inline-block;
}

.denco-trange hr{
    border-color: #fff !important;
}

.denco-title{
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: 'coco';
    position: relative;
    top: 40%;
    color: #fff;
}

.denco-title span{
    position: relative;
    top: 40%;
}

.denco-title hr{
    border-color: #4080aa !important;
    width: 20%;
    position: relative;
    top: 50%;
}

#denco-adv{
    margin-left: 27%;
}

.denco-certificate-logo{
    float: left;
    /* background-color: #f4511e; */
    width: 180px;
    margin: 30px 50px 30px 50px;
    position: relative;
    left: 7%;
}

#iso{
    width: 130px;
}

.denco-certificate-logo img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.5s;
}

.denco-certificate-logo:hover img{
    filter: grayscale(0%);
}

.t-range{
    width: 45%;
    display: inline-block;
    float: left;
    /* background-color: khaki; */
    margin: 2% 2% 2% 5%;
}

.t-range p{
    text-align: justify;
}

.t-range-img{
    /* height: 500px; */
    float: left;
    width: 40%;
}

.t-range-img img{
    position: relative;
}

.multidenco-desc{
    /* background-color: chocolate; */
    width: 80%;
    display: inline-block;
    /* height: 100px; */
    margin-top: 100px;
    margin-left: 10%;
    color: rgb(90, 90, 90);
}

.multidenco-desc img{
    float: left;
}

.multidenco-p{
    text-indent: 30px;
    text-align: justify;
}

.multidenco-version{
    width: 25%;
    display: inline-block;
    float: left;
    margin: 2%;
    text-align: center;
    padding: 5px;
    /* background-color: #b33939; */
}

.multidenco-version h5, .multidenco-version hr{
    color: #fff !important;
    border-color: #4080aa !important;
}

/* -------------------------------------------------------------------------------------------- */

  @media screen and (max-width: 480px){
    body, html{
        margin: 0px;
        padding: 0px;
    }

    /* nav */
    nav{
        width: 100%;
        padding: 0px;
    }

    #navbar{
        padding: 0px !important;
    }

    /* slider */
    .nivoSlider{
        height: 300px !important;
    } 

    .nivoSlider img{
        height: 300px !important;
    }

    /* profile */
    .profile{
        background: url('../img/profile/responsive.jpg');
        padding: 20px;
    }

    .profile-box{
        width: 100%;
        margin: 80px 0px 0px 0px;
    }

    /* reference */
    .reference-boximage{
        height: 7300px;
    }

    .boximage-image{
        width: 350px;
        height: 350px;
    }

    /* history */
    .history-picture-wrap{
        height: 200px;
    }

    .history-wrapper{
        height: 855px;
    }

    .history-picture-wrap{
        width: 400px;
    }

    .history-text-wrap{
        width: 400px;
        display: block;
        margin-top: -10px;
    }

    .history-list{
        margin-bottom: 30px;
    }

    .history-tag{
        width: 80% !important;
        height: 50px;
        font-size: 40px;
        left: 13%;
    }

    .history-wrapper hr{
        display: none;
    }

    /* team */
    .team span{
        left: 30px;
        top: 20px;
    }

    .team hr{
        width: 70%;
        left: -10% !important;
        top: 0px !important;
    }

    .team p{
        font-size: 18px;
        width: 80%;
    }

    /* videos */
    .video{
        height: 2500px;
    }

    .video-box{
        width: 100%;
        margin: 2%;
    }

    /* news */
    .news-wrapper{
        height: 4700px;
    }

    .news-content{
        width: 400px !important;
        display: block;
    }

    .news-date {
        width: 70px;
        height: 70px;
        padding-top: 7px;
    }

    .news-title{
        width: 320px;
    }

    .news-content>hr{
        margin-bottom: 40px;
    }

    .image-news{
        height: 280px;
    }

    .news-image{
        width: 400px !important;
        margin-left: 0;
    }

    /* footer */
    .footer{
        height: 650px;
    }

    .ribbon-contact{
        height: 300px;
    }

    .footer-box{
        width: 20%;
    }

    #box-contact{
        width: 100%;
    }

    #box-maps{
        width: 100%;
    }

    /* visimisi */
    .misi{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .visi, .misi{
        width: 100%;
    }

    .visi{
        left: 0;
    }

    .about_single{
        margin-left: 24%;
    }
  }